<a href="https://colab.research.google.com/github/suhas1023/Python-1/blob/master/Day_5(05_07_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics


* ***point3*** (Bold and Italic)

* Normal Text
*Sublist 1
*Sublist 2


> 1. Point1
> 2. Pont2

* ***Adding Links to Markdown***
* Google site -- .[1].: http://www.google.com
* msn site      -- .[2].: http://www.msn.com
* .[.].option 1
*Google Site -- [Google].1

In [0]:
print("Hello World")

Hello World

In [0]:
print("Hello Gitam")
print("this is Godkroton")
print("hyderabad")

Hello Gitam
this is Godkroton
hyderabad

In [0]:
print("Hello, Gitam"," ||| ",end = " ")
print("Hyderabad",end=" ||| ")
print("python programming")

Hello, Gitam  |||  Hyderabad ||| python programming

In [0]:
n1 = 100 # single Variable Assignment
a = b = c = 20 # Multi variable Assignment of the same value
a1,b1,c1 = 111,222,333 # Multi variable Assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [0]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [0]:
# A number is given 1234
# Digit count
a1 = 1234
print(len(str(a1)))

4

In [0]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameSuhas
Suhas
<class 'str'>

In [0]:
n1 = int(input("Enter a number"))
print(n1)

In [10]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

In [11]:
n = int(input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number5
Odd

In [12]:
n = int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a number10
No

In [13]:
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negative Number")

Enter a number5
Positive Number